*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;	
	font-family: 'EB Garamond', serif;
}
body{
	height: 100vh;
	width: 100vw;
}
.main{
    margin: auto;
    width: 70vw;
}
.nav_item{
	display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
    padding: 0.5rem 0;   
}
.img_item{
	display: flex;
	list-style: none;	
}
.img_item span{
	font-size: 2.5rem;
    margin-right: 10px;
}
.img_item h1{	
    font-weight: 100;
    margin-top: 5px;
}
.list_item{
	display: flex;
	list-style: none;	
    align-items: center;
    gap: 1.2rem;
    font-size: 1.2rem;
}
.nav_item a{
	text-decoration: none;
	color: black;
}
.header_item{
    text-align: center;   
    padding: 3rem 8rem;
    font-size: 25px;
}
.header_item p{
	color: gray;
}
.container{
	display: flex;
    gap: 1.7rem;
}
.card{
	border: 1px solid #e1d4d4;
    box-shadow: 0 0 0.25rem #dbd6d6c2;
    border-radius: 0.5rem;
    text-align: center;
    width: 30rem;
}
.card h1{
	border-bottom: 1px solid #e1d4d4;        
    font-weight: 100;
    padding: 0.5rem 0rem;
}
.box1{
	flex-shrink: 1;
}
.card h2{
    font-size: 2.5rem;
}
.card h2 span{
	color: gray;
    font-weight: 100;
}
.card_content{
   	margin-top: 0.9rem;
	margin-bottom: 1.5rem;
}
.card_content p{
	font-size: 18px;
}
.card button{
	width: 100%;
    padding: 8px;
    font-size: 1.5rem;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#btn-type{	
    background-color: transparent;
    color: blue;
    border: 1px solid blue;
    border-radius: 5px;
}
.card button:hover{
    background-color: #3434bd;
}
.card button:focus{
	box-shadow:0 0 0 0.20rem lightblue;
}
#btn-type:hover{
 	background-color: #3434bd;
 	color: white;
}
.table{
	margin: 2rem auto;
}
.table_item{
	margin: 2rem auto;	
}
.table h1{	
    text-align: center;
    font-size: 2.5rem;
    font-weight: 100;	
}
table tbody tr td{
	text-align: center;
	width: 180px;
	font-size: 18px;
    font-weight: 600;
}
table tbody tr{
	height: 40px;
	border-bottom: 1px solid #80808038;
}
th{
	padding-bottom: 10px!important;
}
.maintd{
	width: 23rem;
	text-align: left;
}
.footer{	
    display: flex;
    gap: 7rem;
    padding-bottom: 5rem;    
}
.footer ul{
	list-style: none;
}
.footer ul li{
	font-size: 18px;
}

.footer ul a{
	text-decoration: none;
	color: gray;
}
table{
	border-collapse: collapse;
}
.fal{
	font-weight: 500;
}


@media screen and (max-width: 576px){
	.navbar{
		flex-wrap: wrap;
		position: relative;
    	left: -5px;
	}
	.header_item{		
	    position: relative;
	    left: 10px;
        padding: 2rem 0rem
	}
	.container{
		flex-wrap: wrap;
	}	
	.footer{
		flex-wrap: wrap;
		gap: 2rem;
	}
	.footer > :first-child {
		width: 30%!important;
	}
}
@media screen and (max-width: 758px) and (min-width: 577px){
	.navbar{
		flex-wrap: wrap;		
	}
	.list_item{
	    gap: 2.9rem;
	    padding: 0rem 3rem;
	}
	.header_item{		
	    position: relative;
	    left: 10px;
        padding: 2rem 0rem
	}	
	.container{
		flex-wrap: wrap;
	}
	.footer{
		    gap: 5rem
	}
}
@media (max-width: 992px) and (min-width: 759px){
	.list_item{
	        gap: 0.6rem;
	}
	.footer{
		    gap: 6rem
	}
}

